# 此工作流使用的操作未经 GitHub 认证。
# 它们由第三方提供，并受单独的
# 服务条款、隐私政策和支持
# 文档约束。

# 此工作流将 njsscan 与 GitHub 的代码扫描功能集成
# nodejsscan 是一个静态安全代码扫描器，可在 Node.js 应用程序中查找不安全的代码模式

name: "Node.js 安全代码扫描"

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
  schedule:
    - cron: '0 0 * * 0'
  workflow_dispatch:

permissions:
  contents: read

jobs:
  njsscan:
    permissions:
      contents: read # 用于 actions/checkout 获取代码
      security-events: write # 用于 github/codeql-action/upload-sarif 上传 SARIF 结果
      actions: read # 仅私有仓库需要，用于 github/codeql-action/upload-sarif 获取 Action 运行状态
    runs-on: ubuntu-latest
    name: njsscan code scanning
    steps:
    - name: Harden the runner (Audit all outbound calls)
      uses: step-security/harden-runner@95d9a5deda9de15063e7595e9719c11c38c90ae2 # v2.13.2
      with:
        egress-policy: audit
    - name: Checkout the code
      uses: actions/checkout@v4
    - name: nodejsscan scan
      id: njsscan
      uses: ajinabraham/njsscan-action@7237412fdd36af517e2745077cedbf9d6900d711
      with:
        args: '. --sarif --output results.sarif || true'
    - name: Upload njsscan report
      uses: github/codeql-action/upload-sarif@v4
      with:
        sarif_file: results.sarif