name: 密钥扫描

permissions:
  contents: read
  
on:
  workflow_dispatch:
  push:
    branches:
      - main
    paths:
      - "src/**"
      - "Dockerfile"
  pull_request:
    branches:
      - main
    paths:
      - "src/**"
      - "Dockerfile"

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
    - name: 加固运行器（审计所有出站调用）
      uses: step-security/harden-runner@20cf305ff2072d973412fa9b1e3a4f227bda3c76 # v2.14.0
      with:
        egress-policy: audit
    - name: 检出代码
      uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      with:
        fetch-depth: 0
    - name: 密钥扫描
      uses: trufflesecurity/trufflehog@a633174c3b2242aa1b6f8941d2ad6a99e0305964 # main
      with:
        extra_args: --results=verified,unknown
